@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="text-center full-monitor column centered-block">
    <h1>@ViewData["Title"]</h1>
    @{
        <p>
            Please check your email to confirm your account.
        </p>
    }
</div>